body {
    margin: 0;
    padding: 0;
    background-color: #F5F5FB;
    color: #333;
    height: 100%;
    font-size: 13px;
    position: relative;
    min-height: 100vh;
}

body.dark_bg {
    margin: 0;
    padding: 0;
    background-image: url(../images/register2.9e3c79b773ac978c.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    font-size: 13px;
    position: relative;
    min-height: 100vh;
}

body.dark_bg:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: #781b18d6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.b_dashed_top {
    border-top: 1px dashed #e8ebf3;
}

@font-face {
    font-family: "popins_regular";
    src: url(../webfonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "popins_medium";
    src: url(../webfonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "popins_semibold";
    src: url(../webfonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "popins_bold";
    src: url(../webfonts/Poppins-Bold.ttf);
}

.head-container {
    max-width: 1880px;
    margin: 0 auto;
    padding: 0 15px;
}

.p_relative {
    position: relative;
}

.border_bottom {
    border-bottom: 1px solid #ccc;
}

/* Common Variable store for colors */

:root {
    --grey: #727E8C;
    --black: #29314c;
    --theme: #151529;
    --Darktheme: #8e2825;
    --DarkthemeHover: #000;
    --blue: #4186f5;
    --b_color: #ced4da;
}

.text_white {
    color: #fff;
}

body .font_20 {
    font-size: 20px;
}

body .font_16 {
    font-size: 16px;
}

a.greenbtn {
    background-color: #25a156;
    color: #ffffff;
    border-color: #25a156;
}

a.greenbtn:hover {
    background-color: #1a8a46;
    color: #ffffff;
    border-color: #1a8a46;
}

/* Text Formating css */

a {
    color: var(--black);
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 12px;
    line-height: normal;
    color: var(--grey);
}

.btn:focus {
    outline: none;
}

/* common-colors */

.blue {
    color: var(--blue);
    font-weight: 500;
}

.separator-dashed {
    border-bottom: 1px dashed #ECF0F3;
}

/* background colors */

.bg_gradient_blue {
    background: linear-gradient(340deg, rgba(40, 31, 101, 1) 0%, rgba(96, 45, 133, 1) 66%);
}

.bg_red {
    background-color: #8d3131;
}

.bg_blue {
    background: #4172ff;
}

.bg_secondary {
    background: #6c757d;
}

.bg_lightblue {
    background: #ecf5ff;
}

.bg_pink {
    background: #F1547E;
}

.bg_theme {
    background: var(--theme);
    color: #fff;
}

.bg_Dblue {
    background: #d0e6ff;
}

.bg_grey {
    background: #f3f3f3;
}

body .c_w {
    color: #fff;
}

.text_grey {
    font-size: 13px;
    color: #626262;
    font-weight: 500;
    padding: 5px;
}

/* spacing css */

.d_block {
    display: block;
    width: 100%;
}

body .d_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

body .d_flex_sb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

body .j_center {
    justify-content: center;
}

body .j_end {
    justify-content: end;
}

.m_bottom {
    margin-bottom: 70px !important;
}

.m_both {
    margin: 0 4px;
}

.f_right {
    float: right;
}

body .plr_0 {
    padding-left: 0;
    padding-right: 0;
}

.mlr_0 {
    margin-left: 0;
    margin-right: 0;
}

.p_15 {
    padding: 15px;
}

.ptb_15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p_25 {
    padding: 25px 15px;
}

.pr_25 {
    padding-right: 25px;
}

.mr_5 {
    margin-right: 5px;
}

.mr_10 {
    margin-right: 10px;
}

.m_10 {
    margin: 10px;
}

.m_5 {
    margin: 5px;
}

.m_15 {
    margin: 15px;
}

.mt_90 {
    margin-top: 90px;
}

.mt_100 {
    margin-top: 100px;
}

.pt_100 {
    padding-top: 100px;
}

.pt_80 {
    padding-top: 80px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_50 {
    margin-bottom: 50px;
}

.mtb_50 {
    margin: 50px 0;
}

.mtb_100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mtb_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mtb_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mb_10 {
    margin-bottom: 10px;
}

.ptb_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mtb_15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mtb_8 {
    margin: 8px 0;
}

.mtb_5 {
    margin: 5px 0;
}

.mb_8 {
    margin-bottom: 8px;
}

.mt_15 {
    margin-top: 15px;
}

body .pl_25 {
    padding-left: 25px;
}

.mb_15 {
    margin-bottom: 15px;
}

.p_tb_100_lr_15 {
    padding: 10px 15px 100px;
}

.p_tb_5 {
    padding: 5px 0;
}

.p_tb_25 {
    padding: 25px 0;
}

.p_tb_5 {
    padding: 5px 0;
}

.m_lr_30 {
    margin: 0 30px;
}

.m_lr_15 {
    margin: 0 15px;
}

.m_lr_10 {
    margin: 0 10px;
}

.m_lr_12 {
    margin: 0 12px;
}

.pb_10 {
    padding-bottom: 10px;
}

.pb_20 {
    padding-bottom: 20px;
}

.pb_50 {
    padding-bottom: 50px;
}

.pb_70 {
    padding-bottom: 70px;
}

.pb_100 {
    padding-bottom: 100px;
}

.m_lr_15 {
    padding: 0 15px;
}

.pt_15 {
    padding-top: 15px;
}

.p_tb_15 {
    padding: 15px 0;
}

.p_tb_5 {
    padding: 5px 0;
}

.p_lr_15 {
    padding-left: 15px;
    padding-right: 15px;
}

.p_lr_10 {
    padding-left: 10px;
    padding-right: 10px;
}

.b_top_dashed {
    border-top: 1px dashed #ccc;
}

.b_bottom_dashed {
    border-bottom: 1px dashed #ccc;
}

.b_bottom {
    border-bottom: 1px solid #ccc;
}

body .only_top_border {
    border-left: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

body .left_border_none {
    border-left: 1px solid transparent !important;
}

.FW_medium {
    font-weight: 500;
}

body .no_wrap {
    flex-wrap: nowrap;
}

span.Tsub_Subtext {
    font-size: 13px;
}

body .bold {
    font-family: "popins_semibold";
}

/* common btn */

.btnUms-toggle {
    height: 23px;
    width: 23px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btnUms_small{
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    line-height: normal;
    cursor: pointer;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0 10px;
} */

.btnCrm {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    line-height: normal;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-weight: 500;
    border-radius: 4px;
    font-family: "popins_medium";
}

.btnCrm_login {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    line-height: normal;
    cursor: pointer;
    height: 38px;
    align-items: center;
}

.btnCrm:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.btnCrm:focus {
    outline: none;
    text-decoration: none;
}

button.btn.list_btn.dropdown-toggle:focus-within {
    outline: none;
    border: 0;
}

.btn:active {
    box-shadow: none;
}

.bg_white_shadow {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 18px 1px;
}

.logo .Text_logo {
    font-size: 20px;
    font-weight: 600;
    color: #455179;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

/* Button Sizes */

.btnCrm-xs {
    font-size: 10px;
}

.btnCrm-sm {
    font-size: 12px;
}

.btnCrm-md {
    font-size: 13px;
}

.btnCrm-lg {
    font-size: 16px;
}

.btnCrm-xl {
    font-size: 18px;
}

.tag_blue {
    font-weight: 500;
    padding: 4px 10px;
    font-size: 12px;
    color: #6993FF;
    background-color: #E1E9FF;
    border-radius: 4px;
    font-family: "popins_medium";
}

.tag_green {
    color: #32745d;
    font-weight: 400;
    background: #c7ffd8;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 4px;
    font-family: "popins_medium";
}

.tag_red {
    color: #ff5151;
    font-weight: 400;
    padding: 3px 6px;
    font-size: 12px;
    background-color: #ffdedb;
    border-radius: 4px;
    font-family: "popins_medium";
}

.tag_grey {
    color: #9f9f9f;
    font-weight: 500;
}

.tag_yellow {
    color: rgb(255, 207, 50);
    font-weight: 500;
}

/* light buttons tags */

.btnCrm_light {
    background-color: #e0e9ff;
    color: #4186f5;
    transition: all 0.5s ease;
}

.btnCrm_light:hover {
    background-color: #d9e3fa;
    color: #4186f5;
}

.btnCrm_light:focus {
    color: #4186f5;
    text-decoration: none;
}

.btnCrm_grey {
    background-color: #f1f1f1;
    border-color: #e9e9e9;
    color: #5a5a5a;
    padding: 3px 8px;
    border-radius: 4px;
    font-family: "popins_medium";
}

.btnCrm_grey:focus {
    background-color: #f1f1f1;
    text-decoration: none;
}

.btnCrm_pink {
    background-color: #fff7f9;
    border-color: #fff7f9;
    color: #f91d58;
    padding: 3px 8px;
    border-radius: 4px;
    font-family: "popins_medium";
}

.btnCrm_blue {
    background-color: #f5f5fb;
    border-color: #f5f5fb;
    color: #4186f5;
    padding: 3px 8px;
    border-radius: 4px;
    transition: all 0.5s ease;
    font-family: "popins_semibold";
}

.btnCrm_blue:hover {
    background-color: #e8e8fd;
    border-color: #e8e8fd;
    color: #4186f5;
}

.btnCrm_green {
    background-color: #e0ffe3;
    border-color: #e0ffe3;
    color: #026947;
    padding: 5px 8px;
    transition: all 0.5s ease;
    font-family: "popins_medium";
}

.btnCrm_green:hover {
    background-color: #c8f3cc;
    border-color: #c8f3cc;
    color: #026947;
}

/* special button Class */

.disable {
    cursor: not-allowed !important;
    opacity: .65;
    box-shadow: none;
}

.btnCrm-block {
    display: block;
    width: 100%;
}

.btnCrm-flat {
    border-radius: 0;
}

/* Button Options */

body .font_size16 {
    font-size: 16px;
}

.text-black {
    color: #000;
    font-weight: 500 !important;
}

.action-button {
    float: left;
}

.btnCrm-orange:hover {
    background-color: #c72e23;
    color: #fff;
}

.btnCrm-orange:focus {
    color: #fff;
}

.btnCrm_Darkblue {
    background-color: #4186f5;
    border-color: #4186f5;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    transition: all 0.5s ease;
    font-family: "popins_semibold";
}

.btnCrm_Darkblue:hover {
    background-color: #326bc5;
    border-color: #326bc5;
    color: #fff;
}

.btnCrm-theme {
    background-color: var(--theme);
    border-color: var(--theme);
    color: #fff;
}

.btnCrm-theme:hover {
    background-color: #1f3c52;
    color: #fff;
}

.btnCrm-theme:focus {
    color: #fff;
}

.btnCrm-Darktheme {
    background-color: var(--Darktheme);
    border-color: var(--Darktheme);
    color: #fff;
    transition: all 0.3s ease;
}

.btnCrm-Darktheme:hover {
    background-color: var(--DarkthemeHover);
    border-color: var(--DarkthemeHover);
    color: #fff;
}

.btnCrm-Darktheme:focus {
    color: #fff;
}

.btnCrm-white {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

.btnCrm-white:hover {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: #2b2b2b;
}

.btnCrm-white:focus {
    color: #2b2b2b;
}

.btnCrm-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #333;
}

.btnCrm-default:hover {
    background-color: #e9ecef;
    color: #2b2b2b;
}

.btnCrm-default:focus {
    color: #2b2b2b;
}

.btnCrm-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btnCrm-primary:hover {
    background-color: #0069d9;
    color: #fff;
}

.btnCrm-primary:focus {
    color: #fff;
}

.btnCrm-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btnCrm-secondary:hover {
    background-color: #5a6268;
    color: #fff;
}

.btnCrm-secondary:focus {
    color: #fff;
}

.btnCrm-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btnCrm-success:hover {
    background-color: #218838;
    color: #fff;
}

.btnCrm-success:focus {
    color: #fff;
}

.btnCrm-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

.btnCrm-info:hover {
    background-color: #138496;
    color: #fff;
}

.btnCrm-info:focus {
    color: #fff;
}

.btnCrm-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btnCrm-danger:hover {
    background-color: #c82333;
    color: #fff;
}

.btnCrm-danger:focus {
    color: #fff;
}

.btnCrm-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}

.btnCrm-warning:hover {
    background-color: #e0a800;
    color: #fff;
}

.btnCrm-warning:focus {
    color: #fff;
}

.btnCrm-lightblue {
    background-color: #f5f5fb;
    border-color: #f5f5fb;
    color: #4186f5;
}

.btnCrm-lightblue:hover {
    color: #4186f5;
}

.btnCrm-lightGreen {
    background-color: #e0ffe3;
    border-color: #e0ffe3;
    color: #026947;
}

.btnCrm-lightGreen:hover {
    background-color: #e0ffe3;
    color: #026947;
}

.btnCrm-lightPink {
    background-color: #fff7f9;
    border-color: #fff7f9;
    color: #f91d58;
}

.btnCrm-lightPink:hover {
    background-color: #fff7f9;
    color: #f91d58;
}

.btnCrm-lightBlue {
    background-color: #f5f5fb;
    border-color: #f5f5fb;
    color: #4186f5;
}

.btnCrm-lightBlue:hover {
    background-color: #6b97dd;
    color: #fff;
}

.btnCrm-lightBlue:focus {
    background-color: #619bf7;
    color: #fff;
    text-decoration: none;
}

.btnCrm-pink {
    background-color: #F1547E;
    border-color: #F1547E;
    color: #fff;
}

.btnCrm-pink:hover {
    background-color: #db456d;
    color: #fff;
}

.btnCrm-pink:focus {
    color: #fff;
}

.btnCrm-orange {
    background-color: #f44336;
    border-color: #f44336;
    color: #fff;
}

.btnCrm-orange:hover {
    background-color: #da3328;
    color: #fff;
}

.btnCrm-orange:focus {
    color: #fff;
}

.btnCrm-blue {
    background-color: #616f9b;
    border-color: #616f9b;
    color: #fff;
}

.btnCrm-blue:hover {
    background-color: #2a3069;
    color: #fff;
}

.btnCrm-blue:focus {
    background-color: #2a3069;
    color: #fff;
}

/* Outline buttons */

.btnCrm-outline-pink {
    color: #F1547E;
    border-color: #F1547E;
}

.btnCrm-outline-pink:hover {
    color: #fff;
    background-color: #F1547E;
    border-color: #F1547E;
}

.btnCrm-outline-blue {
    color: #3a438f;
    border-color: #3a438f;
}

.btnCrm-outline-blue:hover {
    color: #fff;
    background-color: #3a438f;
    border-color: #3a438f;
}

.btnCrm-outline-theme {
    color: #18486E;
    border-color: #18486E;
}

.btnCrm-outline-theme:hover {
    color: #fff;
    background-color: #18486E;
    border-color: #18486E;
}

.btnCrm-outline-white {
    color: #fff;
    border-color: #fff;
    background: transparent;
}

.btnCrm-outline-white:hover {
    background-color: #fff;
    border-color: #fff;
}

.btnCrm-outline-white:focus {
    color: #23527c;
}

.btnCrm-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btnCrm-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btnCrm-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btnCrm-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btnCrm-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btnCrm-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btnCrm-outline-info {
    color: #138496;
    border-color: #138496;
}

.btnCrm-outline-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #138496;
}

.btnCrm-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btnCrm-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btnCrm-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}

.btnCrm-outline-warning:hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

.capitalize {
    text-transform: uppercase;
}

/* common section asset css */

.control-demo {
    margin: 100px 0;
}

span.error {
    color: #c14949;
    font-size: 13px;
    line-height: 30px;
}

@media only screen and (max-width: 767px) {
    .head-container {
        padding: 0 15px;
    }
    .btnCrm-md {
        font-size: 12px;
    }
    .content-section {
        padding: 15px 0;
    }
}