body{
    padding: 0;
    margin: 0;

}


@font-face {
    font-family: "popins-medium";
    src: url("webfonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "poppin-regular";
    src: url("webfonts/Poppins-Regular.ttf");
}


/* Navbar CSS  */

header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
    font-family: "popins_medium";
}

header nav{

    height: 80px;
    width: 100%;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 0px 20px rgb(149, 149, 149);
}

.nav-list{
    display: flex;
    padding: 0%;
}

.courses-btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 80px;
    width: 150px;
    transition: 0.2s;
}

.courses-btn:hover{
    background-color: #8e2825;
    transition: 0.2s;
}


.courses-btn a{
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

.courses-btn:hover > a{
    transition: 0.2s;
    text-decoration: none;
    color: white;
}

.courses-btn a{
    text-decoration: none;
    color: black
}

.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

.num1, .num2{
    transition: 0.2s;
    height: 40px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    color: black;
} 

.num1:hover{
    transition: 0.2s;
    background-color: #8e2825;
    color: white;
}
.num2:hover{
    transition: 0.2s;
    background-color: #8e2825;
    color: white;
}


.Landing-section{
    padding-top: 80px;
}
.Banner-Section {
    display: flex;
    width: 100%;
}




.Banner-Section-left {
    background-image: url(../images/banner1.jpg);
    min-height: 600px;
    width: 60%;
    background-position: center;
    background-size: cover;
    background-position: 20% 50%;
}

.Banner-Section-right {
    width: 40%;
    background-color: #bf3430;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 798px) {
    .Banner-Section{
        flex-direction: column;
    }
    .Banner-Section-left {
        width: 100%;
    }    
}
.FormHead {
    text-align: center;
    margin-bottom: 20px;
}

.FormHead .title {
    font-size: 24px;
    color: #8e2825;
    font-family: "popins_semibold";
}

.FormHead p {
    font-size: 14px;
    font-family: "popins_regular";
}

.Banner-Section-right .form-section {
    max-width: 85%;
    width: 100%;
    margin: 15px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 14px 2px rgb(57 63 72 / 17%);
}

.Logincommon {
    border: none;
    background-color: #F3F6F9;
    height: 38px;
    width: 100%;
    font-size: 13px;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0 12px;
    font-family: "popins_medium";
    color: #000;
}

.Logincommon::placeholder {
    transition: all 0.2s ease;
    font-family: "popins_medium";
}

.Logincommon:focus::placeholder {
    padding-left: 5px;
}

.FormHead img.doneimage {
    width: 50px;
    margin-bottom: 15px;
}

span.leftAsset {
    position: absolute;
    left: -40px;
    bottom: 0;
    color: #ffffff;
    font-size: 13px;
    height: 38px;
    width: 38px;
    display: flex;
    padding-right: 6px;
    padding-left: 6px;
    font-family: "popins_medium";
    align-items: center;
    justify-content: center;
    background-color: #F3F6F9;
}

.FormFieldArea .column_one {
    margin-bottom: 20px;
}

.ButtonArea {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.OTPFieldArea .column_one {
    margin-top: 30px;
    margin-bottom: 50px;
}

.ButtonArea .buttonLogin {
    font-size: 14px;
    color: #fff;
    background-color: #8e2825;
    font-family: "popins_medium";
    padding: 9px 32px;
    border-radius: 24px;
    transition: all 0.3s ease;
    margin: 0 15px;
    border: 0;
}

.ButtonArea .buttonLogin:hover {
    background-color: #000;
}

.note {
    font-size: 15px;
    font-family: "popins_medium";
    text-align: center;
}

.form-section .Note {
    font-size: 13px;
    font-family: "popins_regular";
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

.form-section .Note p a {
    font-family: "popins_medium";
}

.AlreadyText {
    font-size: 16px;
    text-align: center;
    color: #8e2825;
    font-family: "popins_medium";
}

.Sectiontitle-part {
    text-align: center;
    position: relative;
    margin: 60px 0;
}

.Sectiontitle-part .title {
    font-size: 14px;
    text-transform: uppercase;
    font-family: "popins_bold";
    color: #000;
}

.Sectiontitle-part .Backtitle {
    position: absolute;
    font-size: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "popins_bold";
    z-index: 0;
    opacity: 0.1;
    text-transform: uppercase;
}

.Placement-section-inner .Placement-left {
    width: 45%;
    padding-left: 15px;
}

@media screen and (max-width: 798px){
     .Placement-left{
        padding: 0;
    }
    
}

.Placement-section-inner .Placement-right {
    width: 50%;
}

.Placement-section-inner .Placement-right img {
    width: 100%;
}

.contentBox .contentBoxTitle {
    font-size: 20px;
    color: #bf3430;
    font-family: "popins_semibold";
}

.contentBox .contentBoxTitle span.sp_num {
    font-size: 30px;
    color: #000;
    font-family: "popins_bold";
}

.contentBox .contentBoxDescription {
    font-size: 14px;
    color: #333;
    font-family: "popins_regular";
}

.Placement-left .contentBox {
    background-color: #fff;
    border-radius: 12px;
}

.Placement-section-inner {
    margin: 50px 0;
    display: flex;
}

@media only screen and (max-width: 798px) {
    .Placement-section-inner{
        flex-direction: column;
    }
}

.AreaContainerChild{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding:20px;
    flex-wrap: wrap;
}
.sectionWithBgLeft {
    background-image: url(../images/back_asset.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.sectionWithBgRight {
    background-image: url(../images/back_asset2.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: right;
}

.about-section {
    background-image: url(../images/bg_college.png);
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-section .about-Text {
    color: #fff;
    width: 47%;
}

.about-section .about-Text .about-TextTitle {
    font-size: 35px;
    font-weight: 700;
    
    margin-bottom: 15px;
}

.about-section .about-Text .about-TextDescription {
    font-size: 18px;
    min-height: 45px;
}

.eventsBoxleft {
    width: 30%;
}

.eventsBoxright {
    width: 70%;
}

.eventsBoxright .eventsBox {
    width: 50%;
}

.eventsBox-inner {
    overflow: hidden;
    position: relative;
}

.eventsBox img {
    transition: all 0.3s ease;
    width: 100%;
}

.eventsBox:hover img {
    transform: scale(1.1);
}

.Block-section {
    margin: 100px 0;
}

.Block-section .Block-section-inner {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.eventsBox-inner .boxContent {
    position: absolute;
    bottom: 15px;
    left: 10px;
    padding: 15px 15px 5px;
}

.eventsBox-inner .boxContent .title {
    font-size: 20px;
    color: #fff;
    font-family: "popins_semibold";
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.eventsBox-inner .boxContent .title:after {
    content: "";
    background-color: #bf3430;
    height: 2px;
    width: 150px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.eventsBox-inner .boxContent .Description {
    font-size: 14px;
    color: #fff;
    font-family: "popins_regular";
}

.Block-section-inner .contentTitle {
    font-size: 16px;
    font-family: "popins_medium";
    margin-top: 8px;
}

.column_three {
    text-align: left;
    margin: 10px 15px;
    width: calc((100% - 90px)/3);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-section-inner .info-image {
    width: 50%;
}

.d_flex_sb{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info-section{
    display: flex;
    flex-direction: column;
}
.info-section-inner{
    display: flex;
    
}

@media screen and (max-width: 425px){
    .info-section-inner{
        flex-direction: column;
    }
    
}
@media only screen and(min-width:425px){
    .info-section-inner{
        flex-direction: column;        
    }
    
}
body .eventsBoxLists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.info-section-inner .info-image img {
    width: 100%;
}

.info-Content{
    display: flex;
    /* padding-left: 20px; */
    align-items: center;
}
.info-section-inner .info-Content {
    width: 50%;
}

.info-Content .infosmallTitle {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "popins_medium";
    position: relative;
    display: inline-block;
}

.info-Content .infosmallTitle:after {
    content: "";
    position: absolute;
    left: calc(100% + 20px);
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 2px;
    background: #8e2825;
}

.contentBox .infoTitle {
    font-size: 30px;
    line-height: 35px;
    color: #000;
    font-family: "popins_bold";
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #000;
}

.contentBox .infoDescription {
    font-size: 15px;
    color: #000;
    font-family: "popins_regular";
    padding: 10px 20px 10px 0;
}

.count-section {
    background-image: url(../images/bg_college2.png);
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count-section .Sectiontitle-part {
    margin-bottom: 30px;
    margin-top: 0;
}

.count-section .Sectiontitle-part .title {
    font-size: 25px;
    color: #fff;
    font-family: "popins_bold";
}

.count-section .Sectiontitle-part .subtitle {
    font-size: 15px;
    color: #fff;
    font-family: "popins_regular";
}

.count-section-inner .countBox {
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
    max-width: 240px;
    height: 120px;
    min-height: 70px;    
    /* min-height: 50px; */
    
}

.count-section-inner .countBox .count-TextTitle {
    font-size: 18px;
    font-family: "popins_bold";
    margin-bottom: 15px;
}

.count-section-inner .countBox .count-TextDescription {
    font-size: 15px;
    font-family: "popins_medium";
}

.footer-section {
    background: #333;
    color: #fff;
}

.footer-section .footerTag {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    border: 2px solid #fff;
}

.footer-section .footerLinks {
    margin: 50px 20px;
    width: calc((100% - 120px)/3);
}

.footer-section .footerLinks .footerLinksTitle {
    font-size: 18px;
    font-family: "popins_semibold";
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
}

.footer-section .footerLinks ul {
    padding: 0;
    margin: 0;
}

.footer-section .footerLinks ul li {
    list-style: none;
    margin-bottom: 10px;
    font-family: "popins_regular";
}

.footer-section .footerLinks ul li a {
    font-size: 14px;
    font-family: "popins_regular";
    color: #fff;
    transition: all 0.2s ease;
}

.footer-section .footerLinks ul li a:hover {
    color: rgb(165, 43, 43);
}

.FooterParts {
    display: flex;
    flex-wrap: wrap;
}

.copyright {
    background-color: #000;
}

.copyright-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    flex-wrap: wrap;
}

.copyright-inner .text {
    font-size: 14px;
}

.copyright-inner .SocialList ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
@media only screen and (max-width : 500px){
    .copyright-inner{
        
        justify-content: center !important;
    }
    
}
.copyright-inner .SocialList ul li {
    list-style: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.copyright-inner .SocialList ul li:hover {
    background-color: #8e2825;
}

.copyright-inner .SocialList ul li a {
    color: #fff;
    font-size: 20px;
    padding: 0 16px;
    line-height: 50px;
}

@media screen and (max-width: 1199px) {

    .Banner-Section-right {
        width: 50%;
    }
    .count-section-inner .countBox {
        max-width: 200px;
    }
}

@media screen and (max-width: 991px) {
    .column_three {
        width: calc((100% - 60px)/2);
    }

    .Banner-Section-right {
        width: 60%;
    }
    .count-section-inner .countBox {
        max-width: 150px;
    }
    .Banner-Section-right .form-section {
        max-width: 90%;
    }
    .Sectiontitle-part .Backtitle {
        font-size: 50px;
    }
    .about-section .about-Text .about-TextTitle {
        font-size: 20px;
    }
    .Block-section {
        margin: 50px 0;
    }
}

@media screen and (max-width: 767px) {
    .navigation .nav-mobile {
        display: block;
    }
    .navigation nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    .navigation nav ul li a {
        padding: 15px;
        line-height: 20px;
    }
    .navigation nav ul li ul li a {
        padding-left: 30px;
    }
    .navigation .nav-dropdown {
        position: static;
    }
    .navigation nav ul li {
        float: none;
    }
    .navigation nav ul li:first-child {
        border-bottom: 1px solid #ccc;
    }
    .navigation nav ul {
        display: none;
    }
    .navigation #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        height: 3px;
        width: 30px;
    }
    .navigation nav ul {
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        box-shadow: rgb(0 0 0 / 10%) 0px 10px 14px 2px;
    }

    .Banner-Section-right {
        width: 100%;
    }
    .Sectiontitle-part .Backtitle {
        font-size: 35px;
    }
    .Placement-section-inner .Placement-left {
        width: 100%;
        padding: 15px;
        order: 2;
    }
    .Placement-section-inner .Placement-right {
        width: 100%;
        order: 1;
    }
    .about-section .about-Text {
        color: #fff;
        width: 100%;
        margin-bottom: 25px;
    }
    .about-section .about-Text:last-child {
        margin-bottom: 0;
    }
    .eventsBoxleft {
        width: 100%;
    }
    .eventsBoxright {
        width: 100%;
    }
    .eventsBoxright .eventsBox {
        width: 100%;
    }
    .Block-section .Block-section-inner {
        margin: 30px 0;
    }
    .Placement-section .Sectiontitle-part {
        margin: 30px 0;
    }
    .column_three {
        width: 100% !important;
    }
    .Block-section .Block-section-inner {
        flex-wrap: wrap;
    }
    .info-section-inner .info-image {
        width: 100%;
    }
    .info-section-inner .info-Content {
        width: 100%;
        padding: 15px;
        order: 2;
    }
    .contentBox .infoTitle {
        font-size: 22px;
        line-height: 27px;
        padding: 10px 0;
    }
    .footer-section .footerLinks {
        width: 100%;
        margin: 15px;
    }
    .count-section-inner .countBox {
        max-width: 100%;
        width: 100%;
        margin: 15px;
    }
    .count-section .Sectiontitle-part .title {
        font-size: 20px;
    }
    .count-section .Sectiontitle-part {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .copyright-inner .text {
        font-size: 10px;
    }
    .navigation .brand {
        padding-left: 15px;
    }
    .brand img {
        width: 140px;
    }
    .FormFieldArea .column_one {
        margin-bottom: 15px;
    }
    .FormFieldArea .ButtonArea {
        margin-top: 35px;
    }
    .FormHead p {
        font-size: 13px;
    }
    .FormHead .title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .FormFieldArea .form_fields {
        padding: 0;
    }
}